{% load crispy_forms_tags %}
{% include "app/base/header.html" %}
<style>
    .card-link {
        color: black; /* Cambia el color del texto a negro */
    }
</style>
    <main>
        <form action="" method="post">
            <div align="center" class="card-title">
                <h3>Registro de usuario</h3>
            </div>
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit">Registrarse</button>
            <a href="{% url 'login' %}" class="card-link"> Iniciar Sesión</a>
        </form>
    </main>

    {% include "app/base/footer.html" %}